<!DOCTYPE html>
<html>
<head>
  <title>Myblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar">
    <ul class="nav">
      <li>
        <a href="<%=posts_path%>">Home</a>
        </li><li>
        <a href="<%=authers_path%>">Authers</a>
        </li><li>
        <a href="#">Contact Me</a>
      </li>
    </ul>
  </nav>
  <div class="sub-body">
  <p class="success">
    <%= flash[:success] if flash[:success]%>
  </p>
  <p class="alert">
    <%= flash[:alert] if flash[:alert]%>
  </p>

<%= yield %>
  </div>
  <footer class="footer">
    <div>
      Copyright @ 2015 web design by Ak & Co.
    </div>
  </footer>
</body>
</html>
